.container {
	min-height: 82vmin;
	overflow-y: auto;
}

.outline-deco {
	color: var(--bs-white);
	font-size: larger;
	text-shadow: -1px 0 blue, 0 1px coral, 1px 0 coral, 0 -1px coral;
}

h4 a {
	text-decoration: none;
}